.points-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: 150px;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: var(--elements-radius);
  
  background-color: var(--bg-color);
  background-image:
  linear-gradient(var(--line-color-3) 1px, transparent 1px),
  linear-gradient(90deg, var(--line-color-3) 1px, transparent 1px);
  background-position: -1px -1px, -1px -1px;
  background-size: 10px 10px, 10px 10px;
}


.point-preview {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.point-preview-label {
  flex: 2;
  font-weight: bold;
  font-size: 12px;
  color: var(--highlight-color);
  font-family: monospace;
  user-select: none;
  text-shadow:
  1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;
}

.point-preview-coordinate {
  flex: 1;
  font-size: 12px;
  text-align: right;
  color: var(--highlight-color);
  font-family: monospace;
  user-select: none;
  text-shadow:
  1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;
}
