
.svg-overlay {
	display: block;
	position: fixed;
	top:  10px;
	left: 10px;
	width:  600px;
	height: 400px;
}

.svg-overlay path {
	stroke: var(--accent-color-1);
	stroke-width: 5px;
	stroke-dasharray: 5, 20;
	fill: none;
}

.svg-overlay line {
	stroke: var(--accent-color-2);
	stroke-width: 2px;
	stroke-dasharray: 2, 20;
}

.svg-overlay circle {
	fill: var(--accent-color-2);
	stroke: var(--highlight-color);
	stroke-width: 2px;
	r: 5px;
}

.svg-overlay circle:hover {
	fill: var(--accent-color-1);
	cursor: hand;
	stroke-width: 3px;
}
