.svg-marker {
	display: block;
	position: fixed;
	top:  10px;
	left: 10px;
	width: 600px;
	height: 400px;
}


.svg-marker circle {
	/* fill: var(--accent-color-2); */
	fill: transparent;
	stroke: var(--highlight-color);
	stroke-width: 2px;
	r: 8px;
}

.svg-marker circle:hover {
	fill: var(--accent-color-1);
	stroke-width: 2px;
	r: 10px;
}

.svg-marker text {
	font-size: 8px;
	fill: var(--highlight-color);
	pointer-events: none;
  user-select: none;
	font-family: monospace;
}

