
.svg-preview {
	display: block;
	position: fixed;
	top:  10px;
	left: 10px;
	width:  600px;
	height: 400px;
}

.svg-preview path {
	stroke: var(--accent-color-1);
	stroke-width: 5px;
	stroke-dasharray: 5, 20;
	fill: none;
}

.svg-preview line {
	stroke: var(--accent-color-2);
	stroke-width: 2px;
	stroke-dasharray: 10, 20;
}
